// Add your own custom styles here


.normal {
    text-decoration: underline;
    color: blue;
}


h1{
    font-size: 3rem;
}

h2{
    font-size: 1rem;
}
h3{
    font-size: 1rem;
}
h4{
    font-size: 1rem;
}
h5{
    font-size: 1rem;
}